<body class="body_pad">
  <div class="container">
    <div class="row">
      <h2>Academic Calendar</h2>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table style="width:100%">
            <tr>
              <th></th>
              <th>January - April</th>
              <th>May - August</th> 
              <th>September - December</th>
            </tr>
            <tr>
              <th>2016</th>
              <td></td> 
              <td>Semester 1</td>
              <td>Semester 2</td>
            </tr>
            <tr>
              <th>2017</th>
              <td>Semester 3</td> 
              <td>Summer Break</td>
              <td>Semester 4</td>
            </tr>
            <tr>
              <th>2018</th>
              <td>Semester 5</td>
              <td>Summer Break</td>
              <td>Semester 6</td>
            </tr>
            <tr>
              <th>2019</th>
              <td>Semester 7</td> 
              <td>Semester 8</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
      <h2>Training Phase</h2>
      <ul>
        <li>End of Semester 1 - Climb to regional mountain (Kinabalu, Rinjani, Fansipan, etc.)</li>
        <li>End of Semester 2 - Snow/Ice Climbing (Xueshan, Shuangqiaogou)</li>
        <li>End of Semester 3 - Basic Mountaineering Course (India)</li>
      </ul>
    </div>
    <div class="row">
      <h2>Development Phase</h2>
      <ul>
        <li>Summer Break - Organize your own trip with fellow mountaineeers or help guide the juniors.</li>
        <li>End of Semester 4 - Organize your own trip with fellow mountaineeers or help guide the juniors.</li>
        <li>End of Semester 5 - Organize your own trip with fellow mountaineeers or help guide the juniors.</li>
      </ul>
    </div>
    <div class="row">
      <h2>You're on your own!</h2>
      <ul>
        <li>Summer break - Start discussing which mountain you want to do with your fellow mountaineers as part of your graduation climb. Trying a 7000m mountain, or perhaps one of the Seven Summits, might be something you'd consider.</li>
      </ul>
    </div>
  </div>
</body>